
	<section id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h6>About Sweet City Candy</h6>
					<ul class="list-unstyled quick-links">
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Blog</a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Contact us</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h6>Help & FAQ</h6>
					<ul class="list-unstyled quick-links">
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Shipping</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Billing</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Online Ordering</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h6>Ways to Shop</h6>
					<ul class="list-unstyled quick-links">
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Store Locations</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Brands</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Categories</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Gifts</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
					<ul class="list-unstyled list-inline social text-center text-white">
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li>
					</ul>
				</div>
				<hr>
			</div>
			<div class="row" >
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center ">
					<p><u><a href="https://www.sweetcitycandy.ca/">Sweet City Candy Canada</a></u></p>
					<p class="h6">&copy All right Reversed.</p>
				</div>
				<hr>
			</div>
		</div>
	</section>